button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: RED;
    background: rgba(184, 183, 183, 0.511);
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px #b8b7b782;
    transition: ease-in-out 0.5s;
}

button:hover{
    box-shadow: 0 0 20px #13131382;
}